<h4>@Model["A"] <small> <i class="fa fa-angle-double-right"></i>&nbsp;<span style="font-size:16px;">@Model["B"]</span>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;<span style="font-size:16px;">@Model["C"]</span>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;@Model["D"] </small></h4>
